<body class="bg-red-900 h-screen flex flex-col">
    <div class="m-auto flex flex-col">
        <h1 class="text-white mx-auto text-4xl pb-4">
            Tastr
        </h1>
        <div class="bg-white flex flex-col rounded p-3">
            <input class="rounded border border-gray-300 my-1 p-3" type="text" placeholder="Tastr PIN">
            <button class="bg-gray-800 rounded my-1 p-3 hover:bg-gray-900">
                <b class="text-white">
                   Enter 
                </b>
            </button>
        </div>
    </div>
    <div class="mt-auto mx-auto mb-3 text-white">
        <a href="/user/register" class="underline">Create Account</a>
         | 
        <a href="/user/login" class="underline">Login</a>
    </div>
</body>
