%%head%%
        <div class="m-auto flex flex-col">
            <h1 class="text-white mx-auto text-4xl pb-4">
                Tastr - Login
            </h1>
            <div class="bg-white flex flex-col rounded p-3">
                <label for="username">
                    Username:
                </label>
                <input id="username"  required type="text">
                <label for="password">
                    Password:
                </label>
                <input id="password"  required type="password">
                <div class="flex justify-center space-x-1">
                    <button type="button" id="cancel-button" >
                        <b class="text-white">
                           Cancel 
                        </b>
                    </button>
                    <button type="submit" id="login-button">
                        <b class="text-white">
                           Login 
                        </b>
                    </button>
                </div>
                <a href="/register" class="self-center underline">Create Account</a>
            </div>
        </div>
    %%footer/%%
    <script src="/js/pages/login.js" type="module"></script>
%%/head%%
