%%head%%
        <div class="m-auto flex flex-col">
            <h1 class="text-white mx-auto text-4xl pb-4">
                Tastr - Registér
            </h1>
            <div class="bg-white rounded p-3">
                <form class="flex flex-col" onsubmit="return false">
                    <label for="username">
                        Username:
                    </label>
                    <input id="username" type="text" required>

                    <label for="firstName">
                        First name:
                    </label>
                    <input id="firstName" type="text" required>

                    <label for="lastName">
                        Last name:
                    </label>
                    <input id="lastName"  type="text" required>

                    <label for="email">
                        Email:
                    </label>
                    <input id="email"  type="email" required>
                    
                    <label for="password">
                        Password:
                    </label>
                    <input id="password" type="password" required>

                    <div class="flex justify-center space-x-1">
                        <button type="button" id="cancel-button" class="">
                            <b class="text-white">
                               Cancel 
                            </b>
                        </button>
                        <button type="submit" id="create-button" >
                            <b class="text-white">
                               Create 
                            </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    %%footer/%%
    <script src="/js/pages/register.js" type="module"></script>
%%/head%%
