<div class="flex justify-between w-full h-12 text-white bg-gray-800">
    <a href="dashboard" class="self-center mx-2 text-lg hover:text-gray-200">
        Tastr - Dashboard
    </a>
    <div class="flex content-center self-center justify-around gap-5">
        <a href="/user/my-tastings" class="hover:text-gray-200">
            My Tastings
        </a>
        <a href="/user/held-tastings" class="hover:text-gray-200">
            Held Tastings
        </a>
        <a href="/user/explore" class="hover:text-gray-200">
            Explore
        </a>
        <a href="/user/account" class="hover:text-gray-200">
            Account
        </a>
    </div>
    <button class="self-center mx-2 hover:text-gray-200" 
        onclick="fetch('/api/users/logout').then(() => window.location = '/login')">
        Logout
    </button>
</div>
