<div class="w-full h-12 flex justify-between bg-gray-800 text-white">
    <a href="dashboard" class="mx-2 text-lg self-center hover:text-gray-200">
        Tastr - Dashboard
    </a>
    <div class="flex gap-5 justify-around self-center content-center">
        <a href="my-tastings" class="hover:text-gray-200">
            My Tastings
        </a>
        <a href="held-tastings" class="hover:text-gray-200">
            Held Tastings
        </a>
        <a href="explore" class="hover:text-gray-200">
            Explore
        </a>
        <a href="account" class="hover:text-gray-200">
            Account
        </a>
    </div>
    <a class="mx-2 self-center hover:text-gray-200">
        logout
    </a>
</div>
