%%head%%
    %%userNavbar/%%
    <div class="w-8/12 h-full mx-auto bg-white shadow shadow-black">
        <div class="flex justify-between">
            <h1 class="text-4xl inline-block p-3">
                Create tasting
            </h1>
            <div class="p-3 space-x-3 flex justify-around">
                <button id="cancel-button">
                    Cancel
                </button>
                <button id="save-button">
                    Save
                </button>
            </div>
        </div>
        <div id="tasting-form">
            
        </div>
    </div>
    <script src="/js/pages/user/create-tasting.js" type="module"></script>
%%/head%%
