%%head%%
        <div class="m-auto flex flex-col">
            <h1 class="text-white mx-auto text-4xl pb-4">
                Tastr - Login
            </h1>
            <div class="bg-white flex flex-col rounded p-3">
                <label for="username">
                    Username:
                </label>
                <input id="username" class="rounded border border-gray-300 my-1 p-3" required type="text">
                <label for="password">
                    Password:
                </label>
                <input id="password" class="rounded border border-gray-300 my-1 p-3" required type="password">
                <div class="flex justify-center space-x-1">
                    <button type="button" id="cancel-button" class="bg-gray-800 rounded my-1 p-3 flex-grow hover:bg-gray-900">
                        <b class="text-white">
                           Cancel 
                        </b>
                    </button>
                    <button type="submit" id="login-button" class="bg-gray-800 rounded my-1 p-3 flex-grow hover:bg-gray-900">
                        <b class="text-white">
                           Login 
                        </b>
                    </button>
                </div>
                <a href="/user/register" class="self-center underline">Create Account</a>
            </div>
        </div>
    %%footer/%%
    <script src="/js/pages/user/login.js" type="module"></script>
%%/head%%
