%%head%%
    %%userNavbar/%%
    <div class="w-8/12 h-full mx-auto bg-white shadow shadow-black">
        <div id="create-tasting-section" class="p-3 flex justify-between">
            <h1 class="text-4xl inline-block">
                My Tastings
            </h1>
            <button id="create-new-tasting-button">
                Create new Tasting
            </button>
        </div>
        <div id="my-tastings-section">
            
        </div>
    </div>
    <script src="/js/pages/user/my-tastings.js" type="module"></script>
%%/head%%
