%%body%%
    <h1 class="text-white mx-auto text-4xl pb-4">
        Tastr
    </h1>
    <div class="bg-white flex flex-col rounded p-3">
        %%div%%
            <h1>
                text
            </h1>
        %%/div%%
        <input class="rounded border border-gray-300 my-1 p-3" type="text" placeholder="Tastr PIN">
        <button class="bg-gray-800 rounded my-1 p-3 hover:bg-gray-900">
            <b class="text-white">
               Enter 
            </b>
        </button>
        %%button/%%
    </div>
%%/body%%
