%%head%%
    %%userNavbar/%%
    <div class="w-8/12 h-full pb-5 mx-auto overflow-auto bg-white shadow shadow-black">
        <div class="flex justify-between m-2">
            <button id="delete-button">
                Delete
            </button>
            <button id="launch-button">
                Launch Tasting
            </button>
        </div>
        <div class="flex flex-col mx-2 space-y-4">
            <div id="tasting">

            </div>
            <div id="ratings">

            </div>
            <div id="items">

            </div>
        </div>
    </div>
    <script type="module">
        import ViewTasting from "/js/pages/user/view-tasting.js";
        new ViewTasting("{{id}}").fetchTasting();
    </script>
%%/head%%
