%%head%%
    <div class="flex justify-between p-3">
        <h1 id="title" class="text-3xl text-white"></h1>
        <h1 class="text-3xl text-white">
            Room pin: <b>{{pin}}</b>
        </h1>
        <h1 id="name" class="text-3xl text-white">
            
        </h1>
    </div>
    <div id="tasting-room" class="flex">
        
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        import TastingRoomPlayer from "/js/pages/tasting/tasting-room-player.js";
        new TastingRoomPlayer("tasting-room", "{{id}}", "{{pin}}").render();
    </script>
%%/head%%
