%%head%%
    <div class="flex justify-between p-3">
        <h1 id="title" class="text-3xl text-white">
            
        </h1>
        <button id="next-item-button">
            Next
        </button>
    </div>
    <div id="tasting-room" class="flex">
        
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        import TastingRoom from "/js/pages/tasting/tasting-room.js";
        new TastingRoom("tasting-room", "{{id}}", "{{pin}}").render();
    </script>
%%/head%%
