%%head%%
    <div class="flex justify-between p-3">
        <h1 id="title" class="text-3xl text-white"></h1>
        <h1 class="text-3xl text-white">
            Room pin: <b>{{pin}}</b>
        </h1>
        <button id="next-item-button">Begin</button>
    </div>
    <div class="flex justify-between p-5 mt-5 max-h-1/2">
        <div id="item" class="w-full">
            
        </div>
        <div class="w-1/6 mx-auto bg-white rounded">
            <h1 class="p-1 text-xl text-center border-b-2">
                <b>
                    Tasters:
                </b>
            </h1>
            <div class="w-full p-3" id="player-list">

            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        import TastingRoomUser from "/js/pages/tasting/tasting-room-user.js";
        new TastingRoomUser("tasting-room", "{{id}}", "{{pin}}").render();
    </script>
%%/head%%
